.logo {
    height: 60px;
    width:140px;
    margin-right: 0.5rem;
    margin-left: -0.5rem;
    float: left;
}
.logo,
h2 {display: inline-block; margin:0;}
h2 {
    margin-top:0.9rem;
    margin-left: 1rem;
}
